@model Online_Grocey.Models.UserAddress

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserAddress</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserAddressID" />
            <div class="form-group">
                <label asp-for="AddressTypeID" class="control-label"></label>
                <input asp-for="AddressTypeID" class="form-control" />
                <span asp-validation-for="AddressTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractNo" class="control-label"></label>
                <input asp-for="ContractNo" class="form-control" />
                <span asp-validation-for="ContractNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="UserAddressList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
